@model IEnumerable<AquariumMVC.Models.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout_member.cshtml";
}

<h1>Order</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                <a asp-action="order_content" asp-route-guid="@item.OrderGuid" class="btn btn-outline-dark">內容</a>
            </td>
        </tr>
}
    </tbody>
</table>
